In [8]:
age = "test"
print(type(age))

<class 'str'>

In [9]:
number = float(1)
print(type(number))

<class 'float'>

In [10]:
number_and_age = (number, age)
print(number_and_age)

(1.0, 'test')

In [15]:
our_list = ["a", "b", "c", 1.5]
print(our_list)

['a', 'b', 'c', 1.5]

In [16]:

our_tuple = ["a", "b", "c"]
print(our_tuple)

['a', 'b', 'c']

In [21]:
our_dictionary = {"name":"Telo", "age":"8"}
print(our_dictionary)

{'name': 'Telo', 'age': '8'}

In [20]:
our_set = {"one", "two", "three", "two"}
print(our_set)

{'one', 'two', 'three'}